* {
  margin: 0;
  padding: 0;
  font-family: "Dancing Script", cursive;
  color: white;
}

@keyframes rotation {
  0% {
    background: linear-gradient(
      3.6deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  1% {
    background: linear-gradient(
      7.2deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  2% {
    background: linear-gradient(
      10.8deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  3% {
    background: linear-gradient(
      14.4deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  4% {
    background: linear-gradient(
      18deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  5% {
    background: linear-gradient(
      21.6deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  6% {
    background: linear-gradient(
      25.2deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  7% {
    background: linear-gradient(
      28.8deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  8% {
    background: linear-gradient(
      32.4deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  9% {
    background: linear-gradient(
      36deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  10% {
    background: linear-gradient(
      39.6deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  11% {
    background: linear-gradient(
      43.2deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  12% {
    background: linear-gradient(
      46.8deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  13% {
    background: linear-gradient(
      50.4deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  14% {
    background: linear-gradient(
      54deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  15% {
    background: linear-gradient(
      57.6deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  16% {
    background: linear-gradient(
      61.2deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  17% {
    background: linear-gradient(
      64.8deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  18% {
    background: linear-gradient(
      68.4deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  19% {
    background: linear-gradient(
      72deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  20% {
    background: linear-gradient(
      75.6deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  21% {
    background: linear-gradient(
      79.2deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  22% {
    background: linear-gradient(
      82.8deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  23% {
    background: linear-gradient(
      86.4deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  24% {
    background: linear-gradient(
      90deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  25% {
    background: linear-gradient(
      93.6deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  26% {
    background: linear-gradient(
      97.2deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  27% {
    background: linear-gradient(
      100.8deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  28% {
    background: linear-gradient(
      104.4deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  29% {
    background: linear-gradient(
      108deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  30% {
    background: linear-gradient(
      111.6deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  31% {
    background: linear-gradient(
      115.2deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  32% {
    background: linear-gradient(
      118.8deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  33% {
    background: linear-gradient(
      122.4deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  34% {
    background: linear-gradient(
      126deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  35% {
    background: linear-gradient(
      129.6deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  36% {
    background: linear-gradient(
      133.2deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  37% {
    background: linear-gradient(
      136.8deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  38% {
    background: linear-gradient(
      140.4deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  39% {
    background: linear-gradient(
      144deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  40% {
    background: linear-gradient(
      147.6deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  41% {
    background: linear-gradient(
      151.2deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  42% {
    background: linear-gradient(
      154.8deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  43% {
    background: linear-gradient(
      158.4deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  44% {
    background: linear-gradient(
      162deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  45% {
    background: linear-gradient(
      165.6deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  46% {
    background: linear-gradient(
      169.2deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  47% {
    background: linear-gradient(
      172.8deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  48% {
    background: linear-gradient(
      176.4deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  49% {
    background: linear-gradient(
      180deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  50% {
    background: linear-gradient(
      183.6deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  51% {
    background: linear-gradient(
      187.2deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  52% {
    background: linear-gradient(
      190.8deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  53% {
    background: linear-gradient(
      194.4deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  54% {
    background: linear-gradient(
      198deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  55% {
    background: linear-gradient(
      201.6deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  56% {
    background: linear-gradient(
      205.2deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  57% {
    background: linear-gradient(
      208.8deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  58% {
    background: linear-gradient(
      212.4deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  59% {
    background: linear-gradient(
      216deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  60% {
    background: linear-gradient(
      219.6deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  61% {
    background: linear-gradient(
      223.2deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  62% {
    background: linear-gradient(
      226.8deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  63% {
    background: linear-gradient(
      230.4deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  64% {
    background: linear-gradient(
      234deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  65% {
    background: linear-gradient(
      237.6deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  66% {
    background: linear-gradient(
      241.2deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  67% {
    background: linear-gradient(
      244.8deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  68% {
    background: linear-gradient(
      248.4deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  69% {
    background: linear-gradient(
      252deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  70% {
    background: linear-gradient(
      255.6deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  71% {
    background: linear-gradient(
      259.2deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  72% {
    background: linear-gradient(
      262.8deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  73% {
    background: linear-gradient(
      266.4deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  74% {
    background: linear-gradient(
      270deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  75% {
    background: linear-gradient(
      273.6deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  76% {
    background: linear-gradient(
      277.2deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  77% {
    background: linear-gradient(
      280.8deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  78% {
    background: linear-gradient(
      284.4deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  79% {
    background: linear-gradient(
      288deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  80% {
    background: linear-gradient(
      291.6deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  81% {
    background: linear-gradient(
      295.2deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  82% {
    background: linear-gradient(
      298.8deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  83% {
    background: linear-gradient(
      302.4deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  84% {
    background: linear-gradient(
      306deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  85% {
    background: linear-gradient(
      309.6deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  86% {
    background: linear-gradient(
      313.2deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  87% {
    background: linear-gradient(
      316.8deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  88% {
    background: linear-gradient(
      320.4deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  89% {
    background: linear-gradient(
      324deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  90% {
    background: linear-gradient(
      327.6deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  91% {
    background: linear-gradient(
      331.2deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  92% {
    background: linear-gradient(
      334.8deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  93% {
    background: linear-gradient(
      338.4deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  94% {
    background: linear-gradient(
      342deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }

  95% {
    background: linear-gradient(
      342deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  96% {
    background: linear-gradient(
      345.6deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  97% {
    background: linear-gradient(
      349.2deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }

  98% {
    background: linear-gradient(
      352.8deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  99% {
    background: linear-gradient(
      356.4deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
  100% {
    background: linear-gradient(
      360deg,
      #000000 25%,
      #141e30 50%,
      #202020 75%,
      #1a1a1a 100%
    );
  }
}

body {
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
/* navbar */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.nav-bar b {
  color: wheat;
}
.portfolio {
  margin-right: 900px;
}
.nav-items {
  display: flex;
  gap: 2rem;
  text-decoration: none;
}

/* hero section */
.part-1 {
  font-family: Arial, Helvetica, sans-serif;
}
b {
  color: rgb(91, 0, 176);
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.part-1 {
  margin-top: -160px;
}

#img1 {
  width: 500px;
  filter: brightness(30%);

  filter: opacity(25%);
}
.part-1-items {
  margin-right: 200px;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 1px solid transparent;
  box-shadow: 2px 1px 2px 1px rgba(255, 255, 255, 0.233);
  margin-left: 426px;
  background-color: transparent;
  margin-bottom: 2px;
}
